<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Configuration.Authorization.Credential.email" value="MicroserviceProject.Presentation.UI.WindowsForm@ui.desktop" />
    <add key="Configuration.Authorization.Credential.password" value="1234" />
    <add key="Configuration.Authorization.Endpoints.GetToken" value="authorization.gettoken" />
    <add key="Configuration.Authorization.Endpoints.GetUser" value="authorization.getuser" />
    <add key="Services.Endpoints.Accounting.CreateBankAccount" value="accounting.createbankaccount" />
    <add key="Services.Endpoints.Accounting.GetBankAccountsOfWorker" value="accounting.getbankaccountsofworker" />
    <add key="Services.Endpoints.Accounting.GetCurrencies" value="accounting.getcurrencies" />
    <add key="Services.Endpoints.Accounting.CreateCurrency" value="accounting.createcurrency" />
    <add key="Services.Endpoints.HR.GetDepartments" value="department.getdepartments" />
    <add key="Services.Endpoints.HR.CreateDepartment" value="department.createdepartment" />
    <add key="Services.Endpoints.HR.GetPeople" value="person.getpeople" />
    <add key="Services.Endpoints.HR.CreatePerson" value="person.createperson" />
    <add key="Services.Endpoints.HR.GetTitles" value="person.gettitles" />
    <add key="Services.Endpoints.HR.CreateTitle" value="person.createtitle" />
    <add key="Services.Endpoints.HR.GetWorkers" value="person.getworkers" />
    <add key="Services.Endpoints.HR.CreateWorker" value="person.createworker" />
    <add key="Routing.DataSource" value="server=localhost;DataBase=MicroserviceDB;user=sa;password=Srkn_CMR*1987;MultipleActiveResultSets=true"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>