<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Configuration.Authorization.Credential.email" value="MicroserviceProject.Presentation.UI.WindowsForm@ui.desktop" />
    <add key="Configuration.Authorization.Credential.password" value="1234" />
    <add key="Configuration.Authorization.Endpoints.GetToken" value="authorization.auth.gettoken" />
    <add key="Configuration.Authorization.Endpoints.GetUser" value="authorization.auth.getuser" />
    <add key="Services.Endpoints.Accounting.CreateBankAccount" value="accounting.bankaccounts.createbankaccount" />
    <add key="Services.Endpoints.Accounting.GetBankAccountsOfWorker" value="accounting.bankaccounts.getbankaccountsofworker" />
    <add key="Services.Endpoints.Accounting.GetCurrencies" value="accounting.bankaccounts.getcurrencies" />
    <add key="Services.Endpoints.Accounting.CreateCurrency" value="accounting.bankaccounts.createcurrency" />
    <add key="Services.Endpoints.HR.GetDepartments" value="hr.department.getdepartments" />
    <add key="Services.Endpoints.HR.CreateDepartment" value="hr.department.createdepartment" />
    <add key="Services.Endpoints.HR.GetPeople" value="hr.person.getpeople" />
    <add key="Services.Endpoints.HR.CreatePerson" value="hr.person.createperson" />
    <add key="Services.Endpoints.HR.GetTitles" value="hr.person.gettitles" />
    <add key="Services.Endpoints.HR.CreateTitle" value="hr.person.createtitle" />
    <add key="Services.Endpoints.HR.GetWorkers" value="hr.person.getworkers" />
    <add key="Services.Endpoints.HR.CreateWorker" value="hr.person.createworker" />
    <add key="Services.Endpoints.IT.GetInventories" value="it.inventory.getinventories" />
    <add key="Services.Endpoints.IT.CreateInventory" value="it.inventory.createinventory" />
    <add key="Services.Endpoints.IT.AssignInventoryToWorker" value="it.inventory.assigninventorytoworker" />
    <add key="Services.Endpoints.IT.GetInventoriesForNewWorker" value="it.inventory.getinventoriesfornewworker" />
    <add key="Services.Endpoints.AA.GetInventories" value="aa.inventory.getinventories" />
    <add key="Services.Endpoints.AA.CreateInventory" value="aa.inventory.createinventory" />
    <add key="Services.Endpoints.AA.AssignInventoryToWorker" value="aa.inventory.assigninventorytoworker" />
    <add key="Services.Endpoints.AA.GetInventoriesForNewWorker" value="aa.inventory.getinventoriesfornewworker" />
    <add key="Services.Endpoints.IT.CreateDefaultInventoryForNewWorker" value="it.inventory.createdefaultinventoryfornewworker" />
    <add key="Services.Endpoints.AA.CreateDefaultInventoryForNewWorker" value="aa.inventory.createdefaultinventoryfornewworker" />
    <add key="Routing.DataSource" value="server=localhost;DataBase=MicroserviceDB;user=sa;password=Srkn_CMR*1987;MultipleActiveResultSets=true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>