USE [master]
GO
/****** Object:  Database [Microservice_Production_DB]    Script Date: 10.10.2021 00:33:48 ******/
CREATE DATABASE [Microservice_Production_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservice_Production_DB', FILENAME = N'C:\Data Sources\MSSQL\Microservice_Production_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservice_Production_DB_log', FILENAME = N'C:\Data Sources\MSSQL\Microservice_Production_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservice_Production_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservice_Production_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10.10.2021 00:33:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTION_PRODUCT_DEPENDENCIES]    Script Date: 10.10.2021 00:33:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTION_PRODUCT_DEPENDENCIES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[DEPENDED_PRODUCT_ID] [int] NOT NULL,
	[AMOUNT] [int] NOT NULL,
	[DeleteDate] [datetime2](7) NULL,
 CONSTRAINT [PK_PRODUCTION_PRODUCT_DEPENDENCIES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTION_PRODUCTIONS]    Script Date: 10.10.2021 00:33:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTION_PRODUCTIONS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[REFERENCE_NUMBER] [int] NOT NULL,
	[DEPARTMENT_ID] [int] NOT NULL,
	[STATUS_ID] [int] NOT NULL,
	[DeleteDate] [datetime2](7) NULL,
	[REQUESTED_AMOUNT] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTION_PRODUCTIONS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTION_PRODUCTIONS_ITEMS]    Script Date: 10.10.2021 00:33:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTION_PRODUCTIONS_ITEMS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTION_ID] [int] NOT NULL,
	[PRODUCT_DEPENDEDPRODUCTID] [int] NOT NULL,
	[REQUIRED_AMOUNT] [int] NOT NULL,
	[STATUS_ID] [int] NOT NULL,
	[DeleteDate] [datetime2](7) NULL,
 CONSTRAINT [PK_PRODUCTION_PRODUCTIONS_ITEMS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTION_PRODUCTS]    Script Date: 10.10.2021 00:33:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTION_PRODUCTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[PRODUCT_NAME] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
 CONSTRAINT [PK_PRODUCTION_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTION_TRANSACTION_ITEMS]    Script Date: 10.10.2021 00:33:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTION_TRANSACTION_ITEMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRANSACTION_IDENTITY] [nvarchar](100) NULL,
	[ROLLBACK_TYPE] [nvarchar](250) NOT NULL,
	[DATA_SET] [nvarchar](50) NULL,
	[NAME] [nvarchar](250) NULL,
	[IDENTITY_] [nvarchar](50) NULL,
	[OLD_VALUE] [nvarchar](250) NULL,
	[NEW_VALUE] [nvarchar](250) NULL,
	[ISROLLEDBACK] [bit] NOT NULL,
	[RollbackEntityId] [int] NULL,
	[DeleteDate] [datetime2](7) NULL,
 CONSTRAINT [PK_PRODUCTION_TRANSACTION_ITEMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTION_TRANSACTIONS]    Script Date: 10.10.2021 00:33:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTION_TRANSACTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRANSACTION_IDENTITY] [nvarchar](100) NULL,
	[TRANSACTION_TYPE] [int] NOT NULL,
	[TRANSACTION_DATE] [datetime] NOT NULL,
	[ISROLLEDBACK] [bit] NOT NULL,
	[DeleteDate] [datetime2](7) NULL,
 CONSTRAINT [PK_PRODUCTION_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211006151634_init', N'5.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211009172820_update', N'5.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211009181158_update2', N'5.0.10')
GO
/****** Object:  Index [IX_PRODUCTION_PRODUCT_DEPENDENCIES_DEPENDED_PRODUCT_ID]    Script Date: 10.10.2021 00:33:48 ******/
CREATE NONCLUSTERED INDEX [IX_PRODUCTION_PRODUCT_DEPENDENCIES_DEPENDED_PRODUCT_ID] ON [dbo].[PRODUCTION_PRODUCT_DEPENDENCIES]
(
	[DEPENDED_PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PRODUCTION_PRODUCT_DEPENDENCIES_PRODUCT_ID]    Script Date: 10.10.2021 00:33:48 ******/
CREATE NONCLUSTERED INDEX [IX_PRODUCTION_PRODUCT_DEPENDENCIES_PRODUCT_ID] ON [dbo].[PRODUCTION_PRODUCT_DEPENDENCIES]
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PRODUCTION_PRODUCTIONS_PRODUCT_ID]    Script Date: 10.10.2021 00:33:48 ******/
CREATE NONCLUSTERED INDEX [IX_PRODUCTION_PRODUCTIONS_PRODUCT_ID] ON [dbo].[PRODUCTION_PRODUCTIONS]
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PRODUCTION_PRODUCTIONS_ITEMS_PRODUCT_DEPENDEDPRODUCTID]    Script Date: 10.10.2021 00:33:48 ******/
CREATE NONCLUSTERED INDEX [IX_PRODUCTION_PRODUCTIONS_ITEMS_PRODUCT_DEPENDEDPRODUCTID] ON [dbo].[PRODUCTION_PRODUCTIONS_ITEMS]
(
	[PRODUCT_DEPENDEDPRODUCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PRODUCTION_PRODUCTIONS_ITEMS_PRODUCTION_ID]    Script Date: 10.10.2021 00:33:48 ******/
CREATE NONCLUSTERED INDEX [IX_PRODUCTION_PRODUCTIONS_ITEMS_PRODUCTION_ID] ON [dbo].[PRODUCTION_PRODUCTIONS_ITEMS]
(
	[PRODUCTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PRODUCTION_TRANSACTION_ITEMS_RollbackEntityId]    Script Date: 10.10.2021 00:33:48 ******/
CREATE NONCLUSTERED INDEX [IX_PRODUCTION_TRANSACTION_ITEMS_RollbackEntityId] ON [dbo].[PRODUCTION_TRANSACTION_ITEMS]
(
	[RollbackEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRODUCTION_PRODUCTIONS] ADD  DEFAULT ((0)) FOR [REQUESTED_AMOUNT]
GO
ALTER TABLE [dbo].[PRODUCTION_PRODUCT_DEPENDENCIES]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTION_PRODUCT_DEPENDENCIES_PRODUCTION_PRODUCTS_DEPENDED_PRODUCT_ID] FOREIGN KEY([DEPENDED_PRODUCT_ID])
REFERENCES [dbo].[PRODUCTION_PRODUCTS] ([Id])
GO
ALTER TABLE [dbo].[PRODUCTION_PRODUCT_DEPENDENCIES] CHECK CONSTRAINT [FK_PRODUCTION_PRODUCT_DEPENDENCIES_PRODUCTION_PRODUCTS_DEPENDED_PRODUCT_ID]
GO
ALTER TABLE [dbo].[PRODUCTION_PRODUCT_DEPENDENCIES]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTION_PRODUCT_DEPENDENCIES_PRODUCTION_PRODUCTS_PRODUCT_ID] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCTION_PRODUCTS] ([Id])
GO
ALTER TABLE [dbo].[PRODUCTION_PRODUCT_DEPENDENCIES] CHECK CONSTRAINT [FK_PRODUCTION_PRODUCT_DEPENDENCIES_PRODUCTION_PRODUCTS_PRODUCT_ID]
GO
ALTER TABLE [dbo].[PRODUCTION_PRODUCTIONS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTION_PRODUCTIONS_PRODUCTION_PRODUCTS_PRODUCT_ID] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCTION_PRODUCTS] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCTION_PRODUCTIONS] CHECK CONSTRAINT [FK_PRODUCTION_PRODUCTIONS_PRODUCTION_PRODUCTS_PRODUCT_ID]
GO
ALTER TABLE [dbo].[PRODUCTION_PRODUCTIONS_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTION_PRODUCTIONS_ITEMS_PRODUCTION_PRODUCTIONS_PRODUCTION_ID] FOREIGN KEY([PRODUCTION_ID])
REFERENCES [dbo].[PRODUCTION_PRODUCTIONS] ([Id])
GO
ALTER TABLE [dbo].[PRODUCTION_PRODUCTIONS_ITEMS] CHECK CONSTRAINT [FK_PRODUCTION_PRODUCTIONS_ITEMS_PRODUCTION_PRODUCTIONS_PRODUCTION_ID]
GO
ALTER TABLE [dbo].[PRODUCTION_PRODUCTIONS_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTION_PRODUCTIONS_ITEMS_PRODUCTION_PRODUCTS_PRODUCT_DEPENDEDPRODUCTID] FOREIGN KEY([PRODUCT_DEPENDEDPRODUCTID])
REFERENCES [dbo].[PRODUCTION_PRODUCTS] ([Id])
GO
ALTER TABLE [dbo].[PRODUCTION_PRODUCTIONS_ITEMS] CHECK CONSTRAINT [FK_PRODUCTION_PRODUCTIONS_ITEMS_PRODUCTION_PRODUCTS_PRODUCT_DEPENDEDPRODUCTID]
GO
ALTER TABLE [dbo].[PRODUCTION_TRANSACTION_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTION_TRANSACTION_ITEMS_PRODUCTION_TRANSACTIONS_RollbackEntityId] FOREIGN KEY([RollbackEntityId])
REFERENCES [dbo].[PRODUCTION_TRANSACTIONS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTION_TRANSACTION_ITEMS] CHECK CONSTRAINT [FK_PRODUCTION_TRANSACTION_ITEMS_PRODUCTION_TRANSACTIONS_RollbackEntityId]
GO
USE [master]
GO
