USE [master]
GO
/****** Object:  Database [Microservice_HR_DB]    Script Date: 6.10.2021 18:34:07 ******/
CREATE DATABASE [Microservice_HR_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservice_HR_DB', FILENAME = N'D:\Data Sources\MSSQL\Microservice_HR_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservice_HR_DB_log', FILENAME = N'D:\Data Sources\MSSQL\Microservice_HR_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservice_HR_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservice_HR_DB]
GO
/****** Object:  Table [dbo].[HR_DEPARTMENTS]    Script Date: 6.10.2021 18:34:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HR_DEPARTMENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_DEPARTMENTS.HR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HR_PEOPLE]    Script Date: 6.10.2021 18:34:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HR_PEOPLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_PEOPLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HR_TITLES]    Script Date: 6.10.2021 18:34:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HR_TITLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_TITLES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HR_TRANSACTIONS]    Script Date: 6.10.2021 18:34:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HR_TRANSACTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRANSACTION_IDENTITY] [nvarchar](50) NULL,
	[TRANSACTION_TYPE] [int] NULL,
	[TRANSACTION_DATE] [datetime] NULL,
	[IS_ROLLED_BACK] [bit] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_HR_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HR_TRANSACTIONS_ITEMS]    Script Date: 6.10.2021 18:34:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HR_TRANSACTIONS_ITEMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLLBACK_TYPE] [int] NULL,
	[DATASET] [nvarchar](50) NULL,
	[IDENTITY] [nvarchar](50) NULL,
	[OLD_VALUE] [nvarchar](50) NULL,
	[NEW_VALUE] [nvarchar](50) NULL,
	[IS_ROLLED_BACK] [bit] NULL,
	[DELETE_DATE] [datetime] NULL,
	[NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_HR_TRANSACTIONS_ITEMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HR_WORKERRELATIONS]    Script Date: 6.10.2021 18:34:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HR_WORKERRELATIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HR_WORKERS_ID] [int] NULL,
	[HR_WORKERS_MANAGER_ID] [int] NULL,
	[FROM_DATE] [date] NULL,
	[TO_DATE] [date] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_WORKERRELATIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HR_WORKERS]    Script Date: 6.10.2021 18:34:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HR_WORKERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FROM_DATE] [date] NULL,
	[TO_DATE] [date] NULL,
	[HR_DEPARTMENTS_ID] [int] NULL,
	[HR_PEOPLE_ID] [int] NULL,
	[HR_TITLES_ID] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_WORKERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HR_DEPARTMENTS] ON 

INSERT [dbo].[HR_DEPARTMENTS] ([ID], [NAME], [DELETE_DATE]) VALUES (1, N'İnsan Kaynakları', NULL)
INSERT [dbo].[HR_DEPARTMENTS] ([ID], [NAME], [DELETE_DATE]) VALUES (2, N'Muhasebe', NULL)
INSERT [dbo].[HR_DEPARTMENTS] ([ID], [NAME], [DELETE_DATE]) VALUES (3, N'Finans', NULL)
SET IDENTITY_INSERT [dbo].[HR_DEPARTMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[HR_PEOPLE] ON 

INSERT [dbo].[HR_PEOPLE] ([ID], [NAME], [DELETE_DATE]) VALUES (3, N'TestUser', NULL)
INSERT [dbo].[HR_PEOPLE] ([ID], [NAME], [DELETE_DATE]) VALUES (4, N'Serkan', NULL)
SET IDENTITY_INSERT [dbo].[HR_PEOPLE] OFF
GO
SET IDENTITY_INSERT [dbo].[HR_TITLES] ON 

INSERT [dbo].[HR_TITLES] ([ID], [NAME], [DELETE_DATE]) VALUES (1, N'Uzman', NULL)
SET IDENTITY_INSERT [dbo].[HR_TITLES] OFF
GO
SET IDENTITY_INSERT [dbo].[HR_TRANSACTIONS] ON 

INSERT [dbo].[HR_TRANSACTIONS] ([ID], [TRANSACTION_IDENTITY], [TRANSACTION_TYPE], [TRANSACTION_DATE], [IS_ROLLED_BACK], [DELETE_DATE]) VALUES (1, N'1daa2745-49f3-4ce6-bba9-344e3f31d6e5', 1, CAST(N'2021-07-26T12:47:51.713' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[HR_TRANSACTIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[HR_TRANSACTIONS_ITEMS] ON 

INSERT [dbo].[HR_TRANSACTIONS_ITEMS] ([ID], [ROLLBACK_TYPE], [DATASET], [IDENTITY], [OLD_VALUE], [NEW_VALUE], [IS_ROLLED_BACK], [DELETE_DATE], [NAME]) VALUES (1, 3, N'[dbo].[HR_DEPARTMENTS]', N'7', NULL, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[HR_TRANSACTIONS_ITEMS] OFF
GO
SET IDENTITY_INSERT [dbo].[HR_WORKERS] ON 

INSERT [dbo].[HR_WORKERS] ([ID], [FROM_DATE], [TO_DATE], [HR_DEPARTMENTS_ID], [HR_PEOPLE_ID], [HR_TITLES_ID], [DELETE_DATE]) VALUES (2095, CAST(N'2021-03-07' AS Date), NULL, 1, 3, 1, NULL)
INSERT [dbo].[HR_WORKERS] ([ID], [FROM_DATE], [TO_DATE], [HR_DEPARTMENTS_ID], [HR_PEOPLE_ID], [HR_TITLES_ID], [DELETE_DATE]) VALUES (2099, CAST(N'2021-05-08' AS Date), NULL, 41, 3, 1, NULL)
INSERT [dbo].[HR_WORKERS] ([ID], [FROM_DATE], [TO_DATE], [HR_DEPARTMENTS_ID], [HR_PEOPLE_ID], [HR_TITLES_ID], [DELETE_DATE]) VALUES (2100, CAST(N'2021-07-28' AS Date), NULL, 1, 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[HR_WORKERS] OFF
GO
USE [master]
GO
