USE [master]
GO
/****** Object:  Database [Microservice_Accounting_DB]    Script Date: 6.10.2021 18:32:19 ******/
CREATE DATABASE [Microservice_Accounting_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservice_Accounting_DB', FILENAME = N'D:\Data Sources\MSSQL\Microservice_Accounting_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservice_Accounting_DB_log', FILENAME = N'D:\Data Sources\MSSQL\Microservice_Accounting_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservice_Accounting_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservice_Accounting_DB]
GO
/****** Object:  Table [dbo].[ACCOUNTING_BANK_ACCOUNTS]    Script Date: 6.10.2021 18:32:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTING_BANK_ACCOUNTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HR_WORKERS_ID] [int] NULL,
	[IBAN] [nvarchar](50) NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_BANK_ACCOUNTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNTING_CURRENCIES]    Script Date: 6.10.2021 18:32:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTING_CURRENCIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[SHORT_NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_CURRENCIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNTING_SALARY_PAYMENTS]    Script Date: 6.10.2021 18:32:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTING_SALARY_PAYMENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNTING_BANK_ACCOUNTS_ID] [int] NULL,
	[ACCOUNTING_CURRENCIES_ID] [int] NULL,
	[DATE] [datetime] NULL,
	[AMOUNT] [decimal](18, 2) NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_SALARY_PAYMENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNTING_TRANSACTIONS]    Script Date: 6.10.2021 18:32:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTING_TRANSACTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRANSACTION_IDENTITY] [nvarchar](50) NULL,
	[TRANSACTION_TYPE] [int] NULL,
	[TRANSACTION_DATE] [datetime] NULL,
	[IS_ROLLED_BACK] [bit] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_ACCOUNTING_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNTING_TRANSACTIONS_ITEMS]    Script Date: 6.10.2021 18:32:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTING_TRANSACTIONS_ITEMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLLBACK_TYPE] [int] NULL,
	[DATASET] [nvarchar](50) NULL,
	[IDENTITY] [nvarchar](50) NULL,
	[OLD_VALUE] [nvarchar](50) NULL,
	[NEW_VALUE] [nvarchar](50) NULL,
	[IS_ROLLED_BACK] [bit] NULL,
	[DELETE_DATE] [datetime] NULL,
	[NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_ACCOUNTING_TRANSACTIONS_ITEMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
