USE [master]
GO
/****** Object:  Database [Microservice_Security_DB]    Script Date: 8.12.2021 10:31:25 ******/
CREATE DATABASE [Microservice_Security_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservice_Security_DB', FILENAME = N'C:\Data Sources\MSSQL\Data\Microservice_Security_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservice_Security_DB_log', FILENAME = N'C:\Data Sources\MSSQL\Data\Microservice_Security_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservice_Security_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservice_Security_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8.12.2021 10:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLAIMS]    Script Date: 8.12.2021 10:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLAIMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CLAIMTYPEID] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[VALUE] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_CLAIMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLAIMTYPES]    Script Date: 8.12.2021 10:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLAIMTYPES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](500) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_CLAIMTYPES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POLICIES]    Script Date: 8.12.2021 10:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLICIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_POLICIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POLICYROLES]    Script Date: 8.12.2021 10:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLICYROLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[POLICYID] [int] NOT NULL,
	[ROLEID] [int] NOT NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_POLICYROLES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 8.12.2021 10:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SESSIONS]    Script Date: 8.12.2021 10:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IPADDRESS] [nvarchar](max) NULL,
	[ISVALID] [bit] NOT NULL,
	[REGION] [nvarchar](50) NULL,
	[TOKEN] [nvarchar](max) NULL,
	[USERAGENT] [nvarchar](max) NULL,
	[USERID] [int] NOT NULL,
	[VALIDTO] [datetime2](7) NOT NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEDATE] [datetime] NULL,
	[BEFORESESSIONID] [int] NULL,
	[GRANTTYPE] [nvarchar](50) NULL,
	[REFRESHINDEX] [int] NOT NULL,
	[REFRESHTOKEN] [nvarchar](50) NULL,
	[SCOPE] [nvarchar](50) NULL,
 CONSTRAINT [PK_SESSIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERROLES]    Script Date: 8.12.2021 10:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERROLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLEID] [int] NOT NULL,
	[USERID] [int] NOT NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_USERROLES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 8.12.2021 10:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [nvarchar](250) NULL,
	[PASSWORD] [nvarchar](250) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211119164017_init', N'5.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211119164426_update1', N'5.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211119172024_update2', N'5.0.12')
GO
SET IDENTITY_INSERT [dbo].[CLAIMS] ON 

INSERT [dbo].[CLAIMS] ([ID], [CLAIMTYPEID], [UserId], [VALUE], [CREATEDATE], [UPDATEDATE], [DELETEDATE]) VALUES (1, 1, 1002, N'StandardUser', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CLAIMS] OFF
GO
SET IDENTITY_INSERT [dbo].[CLAIMTYPES] ON 

INSERT [dbo].[CLAIMTYPES] ([ID], [NAME], [CREATEDATE], [UPDATEDATE], [DELETEDATE]) VALUES (1, N'http://schemas.microsoft.com/ws/2008/06/identity/claims/role', NULL, NULL, NULL)
INSERT [dbo].[CLAIMTYPES] ([ID], [NAME], [CREATEDATE], [UPDATEDATE], [DELETEDATE]) VALUES (2, N'Name', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CLAIMTYPES] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([ID], [NAME], [CREATEDATE], [UPDATEDATE], [DELETEDATE]) VALUES (1, N'StandardUser', NULL, NULL, NULL)
INSERT [dbo].[ROLES] ([ID], [NAME], [CREATEDATE], [UPDATEDATE], [DELETEDATE]) VALUES (2, N'ApiUser', NULL, NULL, NULL)
INSERT [dbo].[ROLES] ([ID], [NAME], [CREATEDATE], [UPDATEDATE], [DELETEDATE]) VALUES (3, N'QueueUser', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ROLES] OFF
GO
SET IDENTITY_INSERT [dbo].[SESSIONS] ON 

INSERT [dbo].[SESSIONS] ([ID], [IPADDRESS], [ISVALID], [REGION], [TOKEN], [USERAGENT], [USERID], [VALIDTO], [CREATEDATE], [UPDATEDATE], [DELETEDATE], [BEFORESESSIONID], [GRANTTYPE], [REFRESHINDEX], [REFRESHTOKEN], [SCOPE]) VALUES (27, N'', 0, N'', N'013b339e-93a7-40d8-a966-a0adaed733b7', N'', 1002, CAST(N'2021-11-19T23:02:41.7362939' AS DateTime2), NULL, NULL, NULL, NULL, N'password', 0, N'dcbaffb0-8632-4fc7-bf38-c8a93af67c4a', NULL)
INSERT [dbo].[SESSIONS] ([ID], [IPADDRESS], [ISVALID], [REGION], [TOKEN], [USERAGENT], [USERID], [VALIDTO], [CREATEDATE], [UPDATEDATE], [DELETEDATE], [BEFORESESSIONID], [GRANTTYPE], [REFRESHINDEX], [REFRESHTOKEN], [SCOPE]) VALUES (28, N'', 0, N'', N'7f394f52-29ce-4588-a16b-a4f286174dec', N'', 1002, CAST(N'2021-11-19T23:03:01.2446587' AS DateTime2), NULL, NULL, NULL, NULL, N'password', 0, N'b4362c4c-d38a-4418-94e5-2c7963e10022', NULL)
INSERT [dbo].[SESSIONS] ([ID], [IPADDRESS], [ISVALID], [REGION], [TOKEN], [USERAGENT], [USERID], [VALIDTO], [CREATEDATE], [UPDATEDATE], [DELETEDATE], [BEFORESESSIONID], [GRANTTYPE], [REFRESHINDEX], [REFRESHTOKEN], [SCOPE]) VALUES (29, N'', 0, N'', N'f5f1f2de-83f4-4094-9e9f-98043dd10573', N'', 1002, CAST(N'2021-11-19T23:03:19.5027574' AS DateTime2), NULL, NULL, NULL, NULL, N'password', 0, N'bba20514-e1ec-4ba9-932c-c212fcf602e9', NULL)
GO
SET IDENTITY_INSERT [dbo].[SESSIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERROLES] ON 

INSERT [dbo].[USERROLES] ([ID], [ROLEID], [USERID], [CREATEDATE], [UPDATEDATE], [DELETEDATE]) VALUES (1, 1, 1002, CAST(N'2021-12-08T09:59:38.137' AS DateTime), CAST(N'2021-12-08T09:59:38.137' AS DateTime), NULL)
INSERT [dbo].[USERROLES] ([ID], [ROLEID], [USERID], [CREATEDATE], [UPDATEDATE], [DELETEDATE]) VALUES (2, 2, 1001, CAST(N'2021-12-08T09:59:38.137' AS DateTime), CAST(N'2021-12-08T09:59:38.137' AS DateTime), NULL)
INSERT [dbo].[USERROLES] ([ID], [ROLEID], [USERID], [CREATEDATE], [UPDATEDATE], [DELETEDATE]) VALUES (4, 2, 1003, CAST(N'2021-12-08T09:59:38.137' AS DateTime), CAST(N'2021-12-08T09:59:38.137' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[USERROLES] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([ID], [EMAIL], [PASSWORD], [CREATEDATE], [UPDATEDATE], [DELETEDATE]) VALUES (1001, N'Services.Api.Logging@service.service', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2020-01-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[USERS] ([ID], [EMAIL], [PASSWORD], [CREATEDATE], [UPDATEDATE], [DELETEDATE]) VALUES (1002, N'user@user.com', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2020-01-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[USERS] ([ID], [EMAIL], [PASSWORD], [CREATEDATE], [UPDATEDATE], [DELETEDATE]) VALUES (1003, N'Services.Api.Business.Departments.HR@service.service', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2020-01-01T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
/****** Object:  Index [IX_CLAIMS_CLAIMTYPEID]    Script Date: 8.12.2021 10:31:25 ******/
CREATE NONCLUSTERED INDEX [IX_CLAIMS_CLAIMTYPEID] ON [dbo].[CLAIMS]
(
	[CLAIMTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CLAIMS_UserId]    Script Date: 8.12.2021 10:31:25 ******/
CREATE NONCLUSTERED INDEX [IX_CLAIMS_UserId] ON [dbo].[CLAIMS]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_POLICYROLES_POLICYID]    Script Date: 8.12.2021 10:31:25 ******/
CREATE NONCLUSTERED INDEX [IX_POLICYROLES_POLICYID] ON [dbo].[POLICYROLES]
(
	[POLICYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_POLICYROLES_ROLEID]    Script Date: 8.12.2021 10:31:25 ******/
CREATE NONCLUSTERED INDEX [IX_POLICYROLES_ROLEID] ON [dbo].[POLICYROLES]
(
	[ROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SESSIONS_USERID]    Script Date: 8.12.2021 10:31:25 ******/
CREATE NONCLUSTERED INDEX [IX_SESSIONS_USERID] ON [dbo].[SESSIONS]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_USERROLES_ROLEID]    Script Date: 8.12.2021 10:31:25 ******/
CREATE NONCLUSTERED INDEX [IX_USERROLES_ROLEID] ON [dbo].[USERROLES]
(
	[ROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_USERROLES_USERID]    Script Date: 8.12.2021 10:31:25 ******/
CREATE NONCLUSTERED INDEX [IX_USERROLES_USERID] ON [dbo].[USERROLES]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SESSIONS] ADD  DEFAULT ((0)) FOR [REFRESHINDEX]
GO
ALTER TABLE [dbo].[CLAIMS]  WITH CHECK ADD  CONSTRAINT [FK_CLAIMS_CLAIMTYPES_CLAIMTYPEID] FOREIGN KEY([CLAIMTYPEID])
REFERENCES [dbo].[CLAIMTYPES] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CLAIMS] CHECK CONSTRAINT [FK_CLAIMS_CLAIMTYPES_CLAIMTYPEID]
GO
ALTER TABLE [dbo].[CLAIMS]  WITH CHECK ADD  CONSTRAINT [FK_CLAIMS_USERS_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[USERS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CLAIMS] CHECK CONSTRAINT [FK_CLAIMS_USERS_UserId]
GO
ALTER TABLE [dbo].[POLICYROLES]  WITH CHECK ADD  CONSTRAINT [FK_POLICYROLES_POLICIES_POLICYID] FOREIGN KEY([POLICYID])
REFERENCES [dbo].[POLICIES] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[POLICYROLES] CHECK CONSTRAINT [FK_POLICYROLES_POLICIES_POLICYID]
GO
ALTER TABLE [dbo].[POLICYROLES]  WITH CHECK ADD  CONSTRAINT [FK_POLICYROLES_ROLES_ROLEID] FOREIGN KEY([ROLEID])
REFERENCES [dbo].[ROLES] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[POLICYROLES] CHECK CONSTRAINT [FK_POLICYROLES_ROLES_ROLEID]
GO
ALTER TABLE [dbo].[SESSIONS]  WITH CHECK ADD  CONSTRAINT [FK_SESSIONS_USERS_USERID] FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SESSIONS] CHECK CONSTRAINT [FK_SESSIONS_USERS_USERID]
GO
ALTER TABLE [dbo].[USERROLES]  WITH CHECK ADD  CONSTRAINT [FK_USERROLES_ROLES_ROLEID] FOREIGN KEY([ROLEID])
REFERENCES [dbo].[ROLES] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USERROLES] CHECK CONSTRAINT [FK_USERROLES_ROLES_ROLEID]
GO
ALTER TABLE [dbo].[USERROLES]  WITH CHECK ADD  CONSTRAINT [FK_USERROLES_USERS_USERID] FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USERROLES] CHECK CONSTRAINT [FK_USERROLES_USERS_USERID]
GO
USE [master]
GO
