USE [master]
GO
/****** Object:  Database [Microservice_Selling_DB]    Script Date: 6.10.2021 18:37:39 ******/
CREATE DATABASE [Microservice_Selling_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservice_Selling_DB', FILENAME = N'D:\Data Sources\MSSQL\Microservice_Selling_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservice_Selling_DB_log', FILENAME = N'D:\Data Sources\MSSQL\Microservice_Selling_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservice_Selling_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservice_Selling_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6.10.2021 18:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SELLING_SOLDS]    Script Date: 6.10.2021 18:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SELLING_SOLDS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[DeleteDate] [datetime2](7) NULL,
 CONSTRAINT [PK_SELLING_SOLDS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SELLING_TRANSACTION_ITEMS]    Script Date: 6.10.2021 18:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SELLING_TRANSACTION_ITEMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRANSACTION_IDENTITY] [nvarchar](100) NULL,
	[ROLLBACK_TYPE] [nvarchar](250) NOT NULL,
	[DATA_SET] [nvarchar](50) NULL,
	[NAME] [nvarchar](250) NULL,
	[IDENTITY_] [nvarchar](50) NULL,
	[OLD_VALUE] [nvarchar](250) NULL,
	[NEW_VALUE] [nvarchar](250) NULL,
	[ISROLLEDBACK] [bit] NOT NULL,
	[RollbackEntityId] [int] NULL,
	[DeleteDate] [datetime2](7) NULL,
 CONSTRAINT [PK_SELLING_TRANSACTION_ITEMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SELLING_TRANSACTIONS]    Script Date: 6.10.2021 18:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SELLING_TRANSACTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRANSACTION_IDENTITY] [nvarchar](100) NULL,
	[TRANSACTION_TYPE] [int] NOT NULL,
	[TRANSACTION_DATE] [datetime] NOT NULL,
	[ISROLLEDBACK] [bit] NOT NULL,
	[DeleteDate] [datetime2](7) NULL,
 CONSTRAINT [PK_SELLING_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211005205643_init', N'5.0.10')
GO
/****** Object:  Index [IX_SELLING_TRANSACTION_ITEMS_RollbackEntityId]    Script Date: 6.10.2021 18:37:39 ******/
CREATE NONCLUSTERED INDEX [IX_SELLING_TRANSACTION_ITEMS_RollbackEntityId] ON [dbo].[SELLING_TRANSACTION_ITEMS]
(
	[RollbackEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SELLING_TRANSACTION_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_SELLING_TRANSACTION_ITEMS_SELLING_TRANSACTIONS_RollbackEntityId] FOREIGN KEY([RollbackEntityId])
REFERENCES [dbo].[SELLING_TRANSACTIONS] ([ID])
GO
ALTER TABLE [dbo].[SELLING_TRANSACTION_ITEMS] CHECK CONSTRAINT [FK_SELLING_TRANSACTION_ITEMS_SELLING_TRANSACTIONS_RollbackEntityId]
GO
USE [master]
GO
