USE [master]
GO
/****** Object:  Database [Microservice_Logs_DB]    Script Date: 23.01.2022 17:23:08 ******/
CREATE DATABASE [Microservice_Logs_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservice_Localization_Logs', FILENAME = N'D:\Data Sources\MSSQL\Microservice_Localization_Logs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservice_Localization_Logs_log', FILENAME = N'D:\Data Sources\MSSQL\Microservice_Localization_Logs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservice_Logs_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservice_Logs_DB]
GO
/****** Object:  Table [dbo].[REQUEST_RESPONSE_LOGS]    Script Date: 23.01.2022 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST_RESPONSE_LOGS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACHINE_NAME] [nvarchar](50) NULL,
	[APPLICATION_NAME] [nvarchar](250) NULL,
	[LOG_TEXT] [ntext] NULL,
	[DATE] [datetime] NULL,
	[CONTENT] [ntext] NULL,
	[REQUEST_CONTENT_LENGTH] [bigint] NULL,
	[HOST] [nvarchar](100) NULL,
	[IPADDRESS] [nvarchar](50) NULL,
	[METHOD] [nvarchar](50) NULL,
	[PROTOCOL] [nvarchar](50) NULL,
	[RESPONSE_CONTENT_LENGTH] [bigint] NULL,
	[RESPONSE_CONTENT_TYPE] [nvarchar](50) NULL,
	[RESPONSE_TIME] [bigint] NULL,
	[STATUS_CODE] [int] NULL,
	[URL] [nvarchar](1000) NULL,
 CONSTRAINT [PK_REQUEST_RESPONSE_LOGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RUNTIME_LOGS]    Script Date: 23.01.2022 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUNTIME_LOGS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACHINE_NAME] [nvarchar](50) NULL,
	[APPLICATION_NAME] [nvarchar](250) NULL,
	[LOG_TEXT] [ntext] NULL,
	[DATE] [datetime] NULL,
	[METHOD] [nvarchar](250) NULL,
	[PARAMETERSASJSON] [ntext] NULL,
	[RESULTASJSON] [ntext] NULL,
 CONSTRAINT [PK_RUNTIME_LOGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
