USE [master]
GO
/****** Object:  Database [Microservice_IT_DB]    Script Date: 6.10.2021 18:34:31 ******/
CREATE DATABASE [Microservice_IT_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservice_IT_DB', FILENAME = N'D:\Data Sources\MSSQL\Microservice_IT_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservice_IT_DB_log', FILENAME = N'D:\Data Sources\MSSQL\Microservice_IT_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservice_IT_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservice_IT_DB]
GO
/****** Object:  Table [dbo].[IT_INVENTORIES]    Script Date: 6.10.2021 18:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IT_INVENTORIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[DELETE_DATE] [datetime] NULL,
	[CURRENT_STOCK_COUNT] [int] NULL,
 CONSTRAINT [PK_IT_INVENTORIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IT_INVENTORIES_DEFAULTS]    Script Date: 6.10.2021 18:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IT_INVENTORIES_DEFAULTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IT_INVENTORIES_ID_INVENTORYID] [int] NULL,
	[FOR_NEW_WORKER] [bit] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_IT_INVENTORIES_DEFAULTS_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IT_TRANSACTIONS]    Script Date: 6.10.2021 18:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IT_TRANSACTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRANSACTION_IDENTITY] [nvarchar](50) NULL,
	[TRANSACTION_TYPE] [int] NULL,
	[TRANSACTION_DATE] [datetime] NULL,
	[IS_ROLLED_BACK] [bit] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_IT_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IT_TRANSACTIONS_ITEMS]    Script Date: 6.10.2021 18:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IT_TRANSACTIONS_ITEMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLLBACK_TYPE] [int] NULL,
	[DATASET] [nvarchar](50) NULL,
	[IDENTITY] [nvarchar](50) NULL,
	[OLD_VALUE] [nvarchar](50) NULL,
	[NEW_VALUE] [nvarchar](50) NULL,
	[IS_ROLLED_BACK] [bit] NULL,
	[DELETE_DATE] [datetime] NULL,
	[NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_IT_TRANSACTIONS_ITEMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IT_WORKER_INVENTORIES]    Script Date: 6.10.2021 18:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IT_WORKER_INVENTORIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HR_WORKERS_ID] [int] NULL,
	[IT_INVENTORIES_ID] [int] NULL,
	[FROM_DATE] [datetime] NULL,
	[TO_DATE] [datetime] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_IT_WORKER_INVENTORIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IT_WORKER_PENDING_INVENTORIES]    Script Date: 6.10.2021 18:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IT_WORKER_PENDING_INVENTORIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HR_WORKERS_ID] [int] NULL,
	[FROM_DATE] [datetime] NULL,
	[TO_DATE] [datetime] NULL,
	[DELETE_DATE] [datetime] NULL,
	[STOCK_COUNT] [int] NULL,
	[IS_COMPLETE] [bit] NULL,
	[IT_INVENTORIES_ID] [int] NULL,
	[NEXT_REQUEST_DATE] [datetime] NULL,
 CONSTRAINT [PK_IT_WORKER_PENDING_INVENTORIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[IT_INVENTORIES] ON 

INSERT [dbo].[IT_INVENTORIES] ([ID], [NAME], [DELETE_DATE], [CURRENT_STOCK_COUNT]) VALUES (1, N'Bilgisayar', NULL, 0)
INSERT [dbo].[IT_INVENTORIES] ([ID], [NAME], [DELETE_DATE], [CURRENT_STOCK_COUNT]) VALUES (2, N'Telefon', NULL, 0)
INSERT [dbo].[IT_INVENTORIES] ([ID], [NAME], [DELETE_DATE], [CURRENT_STOCK_COUNT]) VALUES (3, N'Internet', NULL, 0)
SET IDENTITY_INSERT [dbo].[IT_INVENTORIES] OFF
GO
SET IDENTITY_INSERT [dbo].[IT_INVENTORIES_DEFAULTS] ON 

INSERT [dbo].[IT_INVENTORIES_DEFAULTS] ([ID], [IT_INVENTORIES_ID_INVENTORYID], [FOR_NEW_WORKER], [DELETE_DATE]) VALUES (1, 1, 1, NULL)
INSERT [dbo].[IT_INVENTORIES_DEFAULTS] ([ID], [IT_INVENTORIES_ID_INVENTORYID], [FOR_NEW_WORKER], [DELETE_DATE]) VALUES (2, 2, 1, NULL)
INSERT [dbo].[IT_INVENTORIES_DEFAULTS] ([ID], [IT_INVENTORIES_ID_INVENTORYID], [FOR_NEW_WORKER], [DELETE_DATE]) VALUES (1002, 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[IT_INVENTORIES_DEFAULTS] OFF
GO
USE [master]
GO
