USE [master]
GO
/****** Object:  Database [MicroserviceDB]    Script Date: 4.02.2021 22:15:15 ******/
CREATE DATABASE [MicroserviceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MicroserviceDB', FILENAME = N'D:\Data Sources\MSSQL\MicroserviceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MicroserviceDB_log', FILENAME = N'D:\Data Sources\MSSQL\MicroserviceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MicroserviceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MicroserviceDB]
GO
/****** Object:  Table [dbo].[REQUEST_RESPONSE_LOGS]    Script Date: 4.02.2021 22:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST_RESPONSE_LOGS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACHINE_NAME] [nvarchar](50) NULL,
	[APPLICATION_NAME] [nvarchar](250) NULL,
	[LOG_TEXT] [ntext] NULL,
	[DATE] [datetime] NULL,
	[CONTENT] [ntext] NULL,
	[REQUEST_CONTENT_LENGTH] [bigint] NULL,
	[HOST] [nvarchar](100) NULL,
	[IPADDRESS] [nvarchar](50) NULL,
	[METHOD] [nvarchar](50) NULL,
	[PROTOCOL] [nvarchar](50) NULL,
	[RESPONSE_CONTENT_LENGTH] [bigint] NULL,
	[RESPONSE_CONTENT_TYPE] [nvarchar](50) NULL,
	[RESPONSE_TIME] [bigint] NULL,
	[STATUS_CODE] [int] NULL,
	[URL] [nvarchar](1000) NULL,
 CONSTRAINT [PK_REQUEST_RESPONSE_LOGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE_ROUTES]    Script Date: 4.02.2021 22:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_ROUTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[CALLTYPE] [nvarchar](5) NULL,
	[ENDPOINT] [nvarchar](500) NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_SERVICE_ROUTES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE_ROUTES_QUERYKEYS]    Script Date: 4.02.2021 22:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_ROUTES_QUERYKEYS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SERVICE_ROUTE_ID] [int] NULL,
	[KEY] [nvarchar](50) NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_SERVICE_ROUTE_QUERYKEYS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SESSIONS]    Script Date: 4.02.2021 22:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TOKEN] [nvarchar](50) NULL,
	[USERAGENT] [nvarchar](250) NULL,
	[USERID] [int] NULL,
	[VALIDTO] [datetime] NULL,
	[ISVALID] [bit] NULL,
	[IPADDRESS] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_SESSIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 4.02.2021 22:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](250) NULL,
	[PASSWORD] [nvarchar](250) NULL,
	[ISADMIN] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SERVICE_ROUTES] ON 

INSERT [dbo].[SERVICE_ROUTES] ([ID], [NAME], [CALLTYPE], [ENDPOINT], [DELETEDATE]) VALUES (1, N'sampledataprovider.getdata', N'GET', N'http://localhost:15269/GetData', NULL)
INSERT [dbo].[SERVICE_ROUTES] ([ID], [NAME], [CALLTYPE], [ENDPOINT], [DELETEDATE]) VALUES (2, N'sampledataprovider.postdata', N'POST', N'http://localhost:15269/PostData', NULL)
INSERT [dbo].[SERVICE_ROUTES] ([ID], [NAME], [CALLTYPE], [ENDPOINT], [DELETEDATE]) VALUES (3, N'authorization.getuser', N'GET', N'http://localhost:16859/Auth/GetUser', NULL)
SET IDENTITY_INSERT [dbo].[SERVICE_ROUTES] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICE_ROUTES_QUERYKEYS] ON 

INSERT [dbo].[SERVICE_ROUTES_QUERYKEYS] ([ID], [SERVICE_ROUTE_ID], [KEY], [DELETEDATE]) VALUES (1, 1, N'number', NULL)
INSERT [dbo].[SERVICE_ROUTES_QUERYKEYS] ([ID], [SERVICE_ROUTE_ID], [KEY], [DELETEDATE]) VALUES (2, 3, N'token', NULL)
SET IDENTITY_INSERT [dbo].[SERVICE_ROUTES_QUERYKEYS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([ID], [NAME], [EMAIL], [PASSWORD], [ISADMIN], [CREATEDATE], [UPDATEDATE], [DELETEDATE]) VALUES (1, N'SourceService', N'sourceservice@service.service', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', 0, CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2020-01-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[USERS] ([ID], [NAME], [EMAIL], [PASSWORD], [ISADMIN], [CREATEDATE], [UPDATEDATE], [DELETEDATE]) VALUES (2, N'DataProviderService', N'dataproviderservice@service.service', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', 0, CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2020-01-01T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
USE [master]
GO
