USE [master]
GO
/****** Object:  Database [Microservice_Storage_DB]    Script Date: 9.10.2021 12:48:13 ******/
CREATE DATABASE [Microservice_Storage_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservice_Storage_DB', FILENAME = N'C:\Data Sources\MSSQL\Microservice_Storage_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservice_Storage_DB_log', FILENAME = N'C:\Data Sources\MSSQL\Microservice_Storage_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservice_Storage_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservice_Storage_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9.10.2021 12:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORAGE_STOCKS]    Script Date: 9.10.2021 12:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGE_STOCKS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[PRODUCT_AMOUNT] [int] NOT NULL,
	[DeleteDate] [datetime2](7) NULL,
 CONSTRAINT [PK_STORAGE_STOCKS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORAGE_TRANSACTION_ITEMS]    Script Date: 9.10.2021 12:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGE_TRANSACTION_ITEMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRANSACTION_IDENTITY] [nvarchar](100) NULL,
	[ROLLBACK_TYPE] [nvarchar](250) NOT NULL,
	[DATA_SET] [nvarchar](50) NULL,
	[NAME] [nvarchar](250) NULL,
	[IDENTITY_] [nvarchar](50) NULL,
	[OLD_VALUE] [nvarchar](250) NULL,
	[NEW_VALUE] [nvarchar](250) NULL,
	[ISROLLEDBACK] [bit] NOT NULL,
	[RollbackEntityId] [int] NULL,
	[DeleteDate] [datetime2](7) NULL,
 CONSTRAINT [PK_STORAGE_TRANSACTION_ITEMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORAGE_TRANSACTIONS]    Script Date: 9.10.2021 12:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGE_TRANSACTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRANSACTION_IDENTITY] [nvarchar](100) NULL,
	[TRANSACTION_TYPE] [int] NOT NULL,
	[TRANSACTION_DATE] [datetime] NOT NULL,
	[ISROLLEDBACK] [bit] NOT NULL,
	[DeleteDate] [datetime2](7) NULL,
 CONSTRAINT [PK_STORAGE_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211009093606_init', N'5.0.10')
GO
/****** Object:  Index [IX_STORAGE_TRANSACTION_ITEMS_RollbackEntityId]    Script Date: 9.10.2021 12:48:13 ******/
CREATE NONCLUSTERED INDEX [IX_STORAGE_TRANSACTION_ITEMS_RollbackEntityId] ON [dbo].[STORAGE_TRANSACTION_ITEMS]
(
	[RollbackEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STORAGE_TRANSACTION_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_STORAGE_TRANSACTION_ITEMS_STORAGE_TRANSACTIONS_RollbackEntityId] FOREIGN KEY([RollbackEntityId])
REFERENCES [dbo].[STORAGE_TRANSACTIONS] ([ID])
GO
ALTER TABLE [dbo].[STORAGE_TRANSACTION_ITEMS] CHECK CONSTRAINT [FK_STORAGE_TRANSACTION_ITEMS_STORAGE_TRANSACTIONS_RollbackEntityId]
GO
USE [master]
GO
