USE [master]
GO
/****** Object:  Database [Microservice_Security_DB]    Script Date: 9.10.2021 21:47:22 ******/
CREATE DATABASE [Microservice_Security_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservice_Security_DB', FILENAME = N'C:\Data Sources\MSSQL\Microservice_Security_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservice_Security_DB_log', FILENAME = N'C:\Data Sources\MSSQL\Microservice_Security_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservice_Security_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservice_Security_DB]
GO
/****** Object:  Table [dbo].[SESSIONS]    Script Date: 9.10.2021 21:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TOKEN] [nvarchar](50) NULL,
	[USERAGENT] [nvarchar](250) NULL,
	[USERID] [int] NULL,
	[VALIDTO] [datetime] NULL,
	[ISVALID] [bit] NULL,
	[IPADDRESS] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_SESSIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 9.10.2021 21:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](250) NULL,
	[PASSWORD] [nvarchar](250) NULL,
	[ISADMIN] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SESSIONS] ON 

INSERT [dbo].[SESSIONS] ([ID], [TOKEN], [USERAGENT], [USERID], [VALIDTO], [ISVALID], [IPADDRESS], [CREATEDATE], [UPDATEDATE], [DELETE_DATE]) VALUES (1, N'cd3667a7-06f3-4689-ab75-33aa79fbbb4d', N'', 2014, CAST(N'2021-05-15T17:09:04.400' AS DateTime), 1, N'', CAST(N'2021-05-15T16:09:04.400' AS DateTime), CAST(N'2021-05-15T16:09:04.400' AS DateTime), NULL)
INSERT [dbo].[SESSIONS] ([ID], [TOKEN], [USERAGENT], [USERID], [VALIDTO], [ISVALID], [IPADDRESS], [CREATEDATE], [UPDATEDATE], [DELETE_DATE]) VALUES (2, N'd7fde431-214f-4322-8387-742f7ae05998', N'', 2015, CAST(N'2021-05-15T17:09:05.773' AS DateTime), 1, N'', CAST(N'2021-05-15T16:09:05.773' AS DateTime), CAST(N'2021-05-15T16:09:05.773' AS DateTime), NULL)
INSERT [dbo].[SESSIONS] ([ID], [TOKEN], [USERAGENT], [USERID], [VALIDTO], [ISVALID], [IPADDRESS], [CREATEDATE], [UPDATEDATE], [DELETE_DATE]) VALUES (3, N'bb3a8dc8-269a-4625-bf25-b5f585cd7318', N'', 1005, CAST(N'2021-05-15T17:10:19.900' AS DateTime), 1, N'', CAST(N'2021-05-15T16:10:19.900' AS DateTime), CAST(N'2021-05-15T16:10:19.900' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[SESSIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([ID], [NAME], [EMAIL], [PASSWORD], [ISADMIN], [CREATEDATE], [UPDATEDATE], [DELETE_DATE]) VALUES (1001, N'LoggingService', N'Services.Infrastructure.Logging@service.service', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', 0, CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2020-01-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[USERS] ([ID], [NAME], [EMAIL], [PASSWORD], [ISADMIN], [CREATEDATE], [UPDATEDATE], [DELETE_DATE]) VALUES (1002, N'User', N'user@user.com', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', 0, CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2020-01-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[USERS] ([ID], [NAME], [EMAIL], [PASSWORD], [ISADMIN], [CREATEDATE], [UPDATEDATE], [DELETE_DATE]) VALUES (1003, N'HRService', N'Services.Business.Departments.HR@service.service', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', 0, CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2020-01-01T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
USE [master]
GO
