USE [master]
GO
/****** Object:  Database [Microservice_Routing_DB]    Script Date: 16.11.2021 18:32:30 ******/
CREATE DATABASE [Microservice_Routing_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservice_Routing_DB', FILENAME = N'C:\Data Sources\MSSQL\Microservice_Routing_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservice_Routing_DB_log', FILENAME = N'C:\Data Sources\MSSQL\Microservice_Routing_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservice_Routing_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservice_Routing_DB]
GO
/****** Object:  Table [dbo].[SERVICE_ROUTES]    Script Date: 16.11.2021 18:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_ROUTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[CALLTYPE] [nvarchar](50) NULL,
	[ENDPOINT] [nvarchar](500) NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_SERVICE_ROUTES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE_ROUTES_ALTERNATIVES]    Script Date: 16.11.2021 18:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_ROUTES_ALTERNATIVES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SERVICE_ROUTES_ID] [int] NULL,
	[ALTERNATIVE_SERVICE_ROUTE_ID] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_SERVICE_ROUTES_ALTERNATIVES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE_ROUTES_QUERYKEYS]    Script Date: 16.11.2021 18:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_ROUTES_QUERYKEYS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SERVICE_ROUTE_ID] [int] NULL,
	[KEY] [nvarchar](50) NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_SERVICE_ROUTE_QUERYKEYS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SERVICE_ROUTES] ON 

INSERT [dbo].[SERVICE_ROUTES] ([ID], [NAME], [CALLTYPE], [ENDPOINT], [DELETE_DATE]) VALUES (3, N'authorization.auth.getuser', N'GET', N'http://localhost:16859/Auth/GetUser', NULL)
INSERT [dbo].[SERVICE_ROUTES] ([ID], [NAME], [CALLTYPE], [ENDPOINT], [DELETE_DATE]) VALUES (4, N'authorization.auth.gettoken', N'POST', N'http://localhost:16859/Auth/GetToken', NULL)
INSERT [dbo].[SERVICE_ROUTES] ([ID], [NAME], [CALLTYPE], [ENDPOINT], [DELETE_DATE]) VALUES (1002, N'authorization.alternative.auth.getuser', N'GET', N'http://localhost/MicroserviceProject.Services.Infrastructure.Authorization/Auth/GetUser', NULL)
GO
SET IDENTITY_INSERT [dbo].[SERVICE_ROUTES] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICE_ROUTES_ALTERNATIVES] ON 

INSERT [dbo].[SERVICE_ROUTES_ALTERNATIVES] ([ID], [SERVICE_ROUTES_ID], [ALTERNATIVE_SERVICE_ROUTE_ID], [DELETE_DATE]) VALUES (1, 1020, 1029, NULL)
INSERT [dbo].[SERVICE_ROUTES_ALTERNATIVES] ([ID], [SERVICE_ROUTES_ID], [ALTERNATIVE_SERVICE_ROUTE_ID], [DELETE_DATE]) VALUES (2, 1012, 1025, NULL)
INSERT [dbo].[SERVICE_ROUTES_ALTERNATIVES] ([ID], [SERVICE_ROUTES_ID], [ALTERNATIVE_SERVICE_ROUTE_ID], [DELETE_DATE]) VALUES (3, 1014, 1026, NULL)
SET IDENTITY_INSERT [dbo].[SERVICE_ROUTES_ALTERNATIVES] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICE_ROUTES_QUERYKEYS] ON 

INSERT [dbo].[SERVICE_ROUTES_QUERYKEYS] ([ID], [SERVICE_ROUTE_ID], [KEY], [DELETE_DATE]) VALUES (2, 3, N'token', NULL)
INSERT [dbo].[SERVICE_ROUTES_QUERYKEYS] ([ID], [SERVICE_ROUTE_ID], [KEY], [DELETE_DATE]) VALUES (1002, 1002, N'token', NULL)
INSERT [dbo].[SERVICE_ROUTES_QUERYKEYS] ([ID], [SERVICE_ROUTE_ID], [KEY], [DELETE_DATE]) VALUES (1003, 1014, N'workerId', NULL)
SET IDENTITY_INSERT [dbo].[SERVICE_ROUTES_QUERYKEYS] OFF
GO
ALTER TABLE [dbo].[SERVICE_ROUTES_QUERYKEYS]  WITH CHECK ADD  CONSTRAINT [FK_SERVICE_ROUTES_QUERYKEYS_SERVICE_ROUTES] FOREIGN KEY([SERVICE_ROUTE_ID])
REFERENCES [dbo].[SERVICE_ROUTES] ([ID])
GO
ALTER TABLE [dbo].[SERVICE_ROUTES_QUERYKEYS] CHECK CONSTRAINT [FK_SERVICE_ROUTES_QUERYKEYS_SERVICE_ROUTES]
GO
USE [master]
GO
