USE [master]
GO
/****** Object:  Database [Microservice_Buying_DB]    Script Date: 14.05.2021 18:48:02 ******/
CREATE DATABASE [Microservice_Buying_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservice_Buying_DB', FILENAME = N'D:\Data Sources\MSSQL\Microservice_Buying_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservice_Buying_DB_log', FILENAME = N'D:\Data Sources\MSSQL\Microservice_Buying_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservice_Buying_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservice_Buying_DB]
GO
/****** Object:  Table [dbo].[BUYING_INVENTORY_REQUESTS]    Script Date: 14.05.2021 18:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUYING_INVENTORY_REQUESTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INVENTORY_ID] [int] NULL,
	[HR_DEPARTMENTS_ID] [int] NULL,
	[AMOUNT] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
	[REVOKED] [bit] NULL,
	[DONE] [bit] NULL,
 CONSTRAINT [PK_BUYING_INVENTORY_REQUESTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUYING_PLANNED_BUYING_INVENTORIES]    Script Date: 14.05.2021 18:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUYING_PLANNED_BUYING_INVENTORIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BUYING_INVENTORY_REQUESTS_ID] [int] NULL,
	[NEXT_REQUEST_DATE] [datetime] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_BUYING_PLANNED_BUYING_INVENTORIES_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUYING_TRANSACTIONS]    Script Date: 14.05.2021 18:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUYING_TRANSACTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRANSACTION_IDENTITY] [nvarchar](50) NULL,
	[TRANSACTION_TYPE] [int] NULL,
	[TRANSACTION_DATE] [datetime] NULL,
	[IS_ROLLED_BACK] [bit] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_BUYING_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUYING_TRANSACTIONS_ITEMS]    Script Date: 14.05.2021 18:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUYING_TRANSACTIONS_ITEMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLLBACK_TYPE] [int] NULL,
	[DATASET] [nvarchar](50) NULL,
	[IDENTITY] [nvarchar](50) NULL,
	[OLD_VALUE] [nvarchar](50) NULL,
	[NEW_VALUE] [nvarchar](50) NULL,
	[IS_ROLLED_BACK] [bit] NULL,
	[DELETE_DATE] [datetime] NULL,
	[NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_BUYING_TRANSACTIONS_ITEMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BUYING_INVENTORY_REQUESTS] ON 

INSERT [dbo].[BUYING_INVENTORY_REQUESTS] ([ID], [INVENTORY_ID], [HR_DEPARTMENTS_ID], [AMOUNT], [DELETE_DATE], [REVOKED], [DONE]) VALUES (71, 3, 6, 3, NULL, 0, 1)
INSERT [dbo].[BUYING_INVENTORY_REQUESTS] ([ID], [INVENTORY_ID], [HR_DEPARTMENTS_ID], [AMOUNT], [DELETE_DATE], [REVOKED], [DONE]) VALUES (72, 2, 6, 3, NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[BUYING_INVENTORY_REQUESTS] OFF
GO
USE [master]
GO
