USE [master]
GO
/****** Object:  Database [Microservice_Socket_DB]    Script Date: 30.07.2021 12:20:56 ******/
CREATE DATABASE [Microservice_Socket_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservice_Socket_DB', FILENAME = N'D:\Data Sources\MSSQL\Microservice_Socket_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservice_Socket_DB_log', FILENAME = N'D:\Data Sources\MSSQL\Microservice_Socket_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservice_Socket_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservice_Socket_DB]
GO
/****** Object:  Table [dbo].[WEBSOCKETS]    Script Date: 30.07.2021 12:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WEBSOCKETS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[ENDPOINT] [nvarchar](500) NULL,
	[DELETE_DATE] [datetime] NULL,
	[METHOD] [nvarchar](50) NULL,
 CONSTRAINT [PK_WEBSOCKETS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[WEBSOCKETS] ON 

INSERT [dbo].[WEBSOCKETS] ([ID], [NAME], [ENDPOINT], [DELETE_DATE], [METHOD]) VALUES (1, N'websockets.security.tokenshub.gettokenmessages', N'http://localhost:43449/TokensHub', NULL, N'GetTokenMessages')
INSERT [dbo].[WEBSOCKETS] ([ID], [NAME], [ENDPOINT], [DELETE_DATE], [METHOD]) VALUES (2, N'websockets.reliability.errorhub.geterrormessages', N'http://localhost:23681/ErrorHub', NULL, N'GetErrorMessages')
SET IDENTITY_INSERT [dbo].[WEBSOCKETS] OFF
GO
USE [master]
GO
