USE [master]
GO
/****** Object:  Database [Microservice_AA_DB]    Script Date: 30.07.2021 12:16:58 ******/
CREATE DATABASE [Microservice_AA_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservice_AA_DB', FILENAME = N'D:\Data Sources\MSSQL\Microservice_AA_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservice_AA_DB_log', FILENAME = N'D:\Data Sources\MSSQL\Microservice_AA_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservice_AA_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservice_AA_DB]
GO
/****** Object:  Table [dbo].[AA_INVENTORIES]    Script Date: 30.07.2021 12:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AA_INVENTORIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[DELETE_DATE] [datetime] NULL,
	[CURRENT_STOCK_COUNT] [int] NULL,
 CONSTRAINT [PK_AA_INVENTORIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AA_INVENTORIES_DEFAULTS]    Script Date: 30.07.2021 12:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AA_INVENTORIES_DEFAULTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AA_INVENTORIES_ID_INVENTORYID] [int] NULL,
	[FOR_NEW_WORKER] [bit] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_IT_INVENTORIES_DEFAULTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AA_TRANSACTIONS]    Script Date: 30.07.2021 12:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AA_TRANSACTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRANSACTION_IDENTITY] [nvarchar](50) NULL,
	[TRANSACTION_TYPE] [int] NULL,
	[TRANSACTION_DATE] [datetime] NULL,
	[IS_ROLLED_BACK] [bit] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_AA_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AA_TRANSACTIONS_ITEMS]    Script Date: 30.07.2021 12:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AA_TRANSACTIONS_ITEMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLLBACK_TYPE] [int] NULL,
	[DATASET] [nvarchar](50) NULL,
	[IDENTITY] [nvarchar](50) NULL,
	[OLD_VALUE] [nvarchar](50) NULL,
	[NEW_VALUE] [nvarchar](50) NULL,
	[IS_ROLLED_BACK] [bit] NULL,
	[DELETE_DATE] [datetime] NULL,
	[NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_AA_TRANSACTIONS_ITEMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AA_WORKER_INVENTORIES]    Script Date: 30.07.2021 12:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AA_WORKER_INVENTORIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HR_WORKERS_ID] [int] NULL,
	[AA_INVENTORIES_ID] [int] NULL,
	[FROM_DATE] [datetime] NULL,
	[TO_DATE] [datetime] NULL,
	[DELETE_DATE] [datetime] NULL,
	[CURRENT_STOCK_COUNT] [int] NULL,
 CONSTRAINT [PK_AA_WORKER_INVENTORIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AA_WORKER_PENDING_INVENTORIES]    Script Date: 30.07.2021 12:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AA_WORKER_PENDING_INVENTORIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HR_WORKERS_ID] [int] NULL,
	[FROM_DATE] [datetime] NULL,
	[TO_DATE] [datetime] NULL,
	[DELETE_DATE] [datetime] NULL,
	[STOCK_COUNT] [int] NULL,
	[IS_COMPLETE] [bit] NULL,
	[AA_INVENTORIES_ID] [int] NULL,
	[NEXT_REQUEST_DATE] [datetime] NULL,
 CONSTRAINT [PK_AA_WORKER_PENDING_INVENTORIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AA_INVENTORIES] ON 

INSERT [dbo].[AA_INVENTORIES] ([ID], [NAME], [DELETE_DATE], [CURRENT_STOCK_COUNT]) VALUES (2, N'Masa', NULL, 0)
INSERT [dbo].[AA_INVENTORIES] ([ID], [NAME], [DELETE_DATE], [CURRENT_STOCK_COUNT]) VALUES (3, N'Koltuk', NULL, 2)
INSERT [dbo].[AA_INVENTORIES] ([ID], [NAME], [DELETE_DATE], [CURRENT_STOCK_COUNT]) VALUES (5, N'Ortak Dolap', NULL, 0)
SET IDENTITY_INSERT [dbo].[AA_INVENTORIES] OFF
GO
SET IDENTITY_INSERT [dbo].[AA_INVENTORIES_DEFAULTS] ON 

INSERT [dbo].[AA_INVENTORIES_DEFAULTS] ([ID], [AA_INVENTORIES_ID_INVENTORYID], [FOR_NEW_WORKER], [DELETE_DATE]) VALUES (1, 2, 1, NULL)
INSERT [dbo].[AA_INVENTORIES_DEFAULTS] ([ID], [AA_INVENTORIES_ID_INVENTORYID], [FOR_NEW_WORKER], [DELETE_DATE]) VALUES (6, 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[AA_INVENTORIES_DEFAULTS] OFF
GO
SET IDENTITY_INSERT [dbo].[AA_WORKER_INVENTORIES] ON 

INSERT [dbo].[AA_WORKER_INVENTORIES] ([ID], [HR_WORKERS_ID], [AA_INVENTORIES_ID], [FROM_DATE], [TO_DATE], [DELETE_DATE], [CURRENT_STOCK_COUNT]) VALUES (14, 2095, 3, CAST(N'2021-03-07T12:57:40.153' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AA_WORKER_INVENTORIES] OFF
GO
SET IDENTITY_INSERT [dbo].[AA_WORKER_PENDING_INVENTORIES] ON 

INSERT [dbo].[AA_WORKER_PENDING_INVENTORIES] ([ID], [HR_WORKERS_ID], [FROM_DATE], [TO_DATE], [DELETE_DATE], [STOCK_COUNT], [IS_COMPLETE], [AA_INVENTORIES_ID], [NEXT_REQUEST_DATE]) VALUES (63, 2095, CAST(N'2021-03-07T12:57:40.153' AS DateTime), NULL, NULL, 1, 0, 2, NULL)
INSERT [dbo].[AA_WORKER_PENDING_INVENTORIES] ([ID], [HR_WORKERS_ID], [FROM_DATE], [TO_DATE], [DELETE_DATE], [STOCK_COUNT], [IS_COMPLETE], [AA_INVENTORIES_ID], [NEXT_REQUEST_DATE]) VALUES (64, 2095, CAST(N'2021-03-07T12:57:40.153' AS DateTime), NULL, NULL, 1, 1, 3, NULL)
SET IDENTITY_INSERT [dbo].[AA_WORKER_PENDING_INVENTORIES] OFF
GO
USE [master]
GO
